<launch>
  <master auto="start"/>

 <!-- Run the map server -->
  <node name="map_server" pkg="map_server" type="map_server" args="$(find rplidar_ros)/maps/my_map.yaml"/> 

  <!-- Run AMCL -->
  <include file="$(find amcl)/examples/amcl_diff.launch" /> 

  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <param name="controller_frequency" value="2.0" />
    <param name="planner_frequency" value="0.0" />
    <rosparam file="$(find plantbot_nav)/param/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find plantbot_nav)/param/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find plantbot_nav)/param/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find plantbot_nav)/param/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find plantbot_nav)/param/base_local_planner_params.yaml" command="load" />
  </node>
</launch>







