# cd /etc/udev/rules.d/
# gedit 70-persistent-serial.rules
# This rules file can map the rplidar serial to fixed "ttyUSB002" when it was added.
ACTION!="add", GOTO="persistent_serial_end"
SUBSYSTEM!="tty", GOTO="persistent_serial_end"
KERNEL!="ttyUSB[0-9]*", GOTO="persistent_serial_end"

# This is old 11.10 style: IMPORT="usb_id --export %p"
IMPORT{builtin}="path_id"
ENV{ID_SERIAL}=="Silicon_Labs_CP2102_USB_to_UART_Bridge_Controller_0001" , SYMLINK="rplidar" , SYMLINK+="ttyUSB002" ,
MODE="0666", OWNER="pc"
LABEL="persistent_serial_end"

